@{
    ViewData["Title"] = $"Error {@Model.ErrorStatusCode} - RecipeReviews";
}

<h1 class="text-danger mb-2">Error (@Model.ErrorStatusCode)</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
