@{
    ViewData["Title"] = "Privacy Policy";
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<p class="mb-2">
    No personal data is saved when you post a recipe.
    As long as you do not curse, insult anybody or spam your recipe will remain untouched.
</p>
<p class="mb-2">
    An exception to the above is if your review breaks any Swedish law.
</p>
